%article.event
	%header>
		.post_image
			%img{:src => "{{ post.image_url }}", :alt => "{{ post.title }}"}
		%h2.post_title {{ post.title }}
		.comment_count
			%a{:href => "{{ post.url }}#comments"}
				{{ post.comment_count }}
	.guests
		%h3 Guest List
		%table
			= "{% for interview in post.interviews %}"
			%tr
				%td.duration 0m
				%td.date {{ interview.date | date: "%a" }}
				%td.name
					= "{% if interview.title %}"
					%strong {{ interview.title }}
					with 
					= "{% endif %}"
					= "{% for guest in interview.guests %}"
					%a{:href => "{{ guest.url }}"} {{ guest.name }}
					= "{% if forloop.length != forloop.index %},{% endif %}"
					= "{% endfor %}"
					%a.player{:href => "#"} Play
					%audio.event_player{:preload => "preload"}
						%source{:type => "audio/mpeg", :src => "{{ interview.audio_url }}"}
			= "{% endfor %}"
	%div{:class => "gallery {{ post.flickr_tag }}"}
	.post_content 
		{{ post.excerpt }}
		%a.read_more{:href => "{{ post.url }}"} Full Post